* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.header {
    background: url('./images/CSE_Lab1.jpg') no-repeat center center/cover;
    padding: 40px;
    text-align: center;
    color: #fff;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    width: 25%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.sidebar h2 {
    font-size: 18px;
    color: #003366;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover,
.menu-item.active {
    background-color: #d32f2f;
    color: #fff;
}

.content {
    height: 100vh;
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 20px;
    overflow-y: scroll;
}

.latest-notices {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.latest-notices h3 {
    font-size: 18px;
}

.notice-link {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

.department-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vision-mission {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.vision, .mission {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 48%;
}

.vision h3, .mission h3 {
    font-size: 18px;
    color: #d32f2f;
    margin-bottom: 10px;
}

.vision p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-style: italic;
    margin: 0;
    position: relative;
    padding-left: 30px;
}

.vision p::before {
    content: open-quote;
    font-size: 30px;
    color: #d32f2f;
    position: absolute;
    left: 0;
    top: -10px;
}
.mission{
    background-color: #ac80e3;
}

.mission ul {
    list-style-type: none;
}

.mission ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.mission ul li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #0288d1;
    font-size: 20px;
    line-height: 20px;
}
.about{
    padding-top: 20px;
    text-align: justify;
}
.info{
    padding-top: 20px;
}
table {
    width:100%;
    border-collapse: collapse;
    height: 100vh;
}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: pink; /* Pink header background */
    color: white; /* White text color */
}
tbody>tr{
    height: 12vh !important;
}
tr:nth-child(even) {
    background-color: white; /* White background for even rows */
}
tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for odd rows */
}
