* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body{
  overflow-x: hidden;
}
/* navbar */


#front-page{
  width: 100vw;
  min-height: 85vh;
  background: url(http://mis.itmgoi.in/goi-img/Sandipani_Prakhand.jpg) ;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;

}
#front-page #shadow{
  height: 20vh;
  width: 100%;
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.625));
  position: absolute;
  bottom: 0;
}

.clg-name{
  /* background-color: blue; */
  width: 50%;
  height: 18%;  
  text-align: center;
  position: absolute;
  top: 35%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  position: relative;
  height: 50px; /* Adjust as needed */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: salmon; */
}





#page5{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    background-image: url('./backgroud.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin: 0 auto;
    overflow: hidden;
}
.page5-slider {
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* background-color: aqua; */
}

.page5-slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.page5-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.page5-text {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:linear-gradient(#1f02587e, #000000d2) ; */

}
.inner-text{
  width: 90%;
  height: 80%;
  padding: 10px;
  /* background-color: red; */
}
.page5-text3 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;

}

#page5 img {
    width: 65%;
    height: 100%;
    object-fit: cover;
}
.page5-slide #page5-img3{
    width: 100%;
    z-index: -1;
}

.page5-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #dadada54;
    width: 40px;
    height: 40px;
    border: 2px solid #dadada54;
    cursor: pointer;
    border-radius: 50px;
    transition: all linear 0.2s;
}
#page5 p{
  color: white;
  font-size: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -2vw;
  text-shadow: 2px  2px black;
}

#page5 button.prev {
    left: 15px;
}

#page5 button.next {
    right: 20px;
}

#page5 button:hover {
    background-color: rgba(0, 0, 0, 0.409);
    border:2px solid #dadada;
  }
  #page5 button:hover i {
    color: #dadada;
}
